.todo-container {
 height: 400px;
 width: 400px;
 background-color: aqua;
 padding: 20px;
 border-radius: 20px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-btn {
width: 100%;
}